@model ItemShop.Models.CreateAccounViewModel

@{
    ViewData["Title"] = "Create account";
}

<h2>Create Account</h2>

<h4>CreateAccounViewModel</h4>
<hr />
<p>
    <a class="btn btn-danger" role="button" aria-pressed="true" asp-action="CreateNewAccount">CREATE NEW</a>
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>
