@using Logic.Models
@model ItemShop.Models.ShowAllItemsViewModel
@{
    ViewData["Title"] = "Items";
}

<h2>Auction</h2>

<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="/../wwwroot/js/site.js" language="javascript" type="text/javascript"></script>