@using Logic.Models
@model ItemShop.Models.ShowAllCharactersViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>Characters</h4>
<hr />

<div class="mb-3">
    <input class="form-control" type="text" id="myInput" onkeyup="SearchBar()" placeholder="Search for your character.." title="Type in a character name">
</div>
<table id="adminTable" class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (Character character in Model.Characters)
        {
            <tr>
                <td>@character.Name</td>
                <td>@character.Role</td>
                <td><a asp-action="Details" asp-controller="Character" asp-route-id="@character.CharacterId">DETAILS</a>  |
                <a asp-action="Edit" asp-controller="Character" asp-route-id="@character.CharacterId">EDIT</a></td>
            </tr>
        }*@
    </tbody>
</table>